.ProductBg{
    background-color: white;
    height: 100vh;
}

.ProductDesc{
}

.ProductName{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.CustomerName{
    font-weight: 800;
    font-size: 30px;
}

.listofbids{
    font-size: larger;
    overflow-y: hidden;
}


.perimeter {
    z-index: 1;
    max-width: 1024px;
    width:100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .image {
    flex: 0 0 100%;
  }
  
  .copy {
    padding: 20px;
    font-family: sans-serif;
  }
  
  @media (min-width: 415px) {
    .perimeter {
      flex-direction: row;
    }
    
    .image {
      flex: 0 0 50%;
    }
  }
  
  @media (min-width: 800px) {
    .image {
      flex: 0 0 33.5%;
    }
  }
  
  