.not-found-section {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin: 4vh;
}
.not-found-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.not-found-subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.not-found-message {
  font-size: 1rem;
  text-align: center;
  font-weight: 200;
}
