.productsView{
    height: 150vh;
    background-color: #f8f9fa;
}

.vl {
    border-left: 3px solid black;
    height: 120vh
  }


.Brands{
    line-height: 3;
}

.textline{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 200px;
}