.hoverNav{
    display: "flex";
    justify-content: "center";
     align-items: "center";
    transition: 0.5s ease-in-out;
  }
  
  .hoverNav:hover{
    transform: scale(1.1);
  }
  
  .navbar-collapse{
    flex-grow: 0;
    font-weight: bolder;
    color:black;
  }
  
  a{
    text-decoration: none;
  }